body
{
background-color:#ffcc99;
}
.cart
{
background-color:#ff9966;
padding: 5%;
display:grid;
grid-template-columns: auto auto auto auto auto auto auto ;
color:white;
font-family:Ubuntu Condensed;
margin-top: 3%;
margin-bottom: 3%;
}
.item1
{
grid-column-start: 1;
grid-column-end: 8;
}
.cart img
{
width: 50px;
}
.delbut
{
    background-color:#FF9966;
    border:none;
}

