* {
    box-sizing: border-box;
}

body {
    padding: 0;
    background-color:  #C7E1BA;
    font-family: SugoPro;
}

.navbar {
    background-color:  #FD795B;
    color:  #62C2CC;
    padding: 0  10px 0 10px;
}


.navbar-nav {
    list-style-type: none;
}

.navbar-brand {
    font-size: 200%;
    color:  #397249;
}
 #log-in {
     font-size: 150%;
     color:  #397249;
     margin-left: 15px;
 }


li {
    display: inline;
    margin-left: 8px;
    margin-right: 8px;
}

#banner {
    margin-top: 1%;
    margin-bottom: 2%;
    background-color:     #F6E4CC;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    color:  #397249;
    border-top: 5px dashed  #FD795B;
    border-bottom: 5px dashed  #FD795B;
    
}

.jumbotron {
    background-color:  #9CB770;
    color: white;
}


.bigbannertext {
    font-size: 500%;
    margin-top: 1%;
    color:   #C7E1BA;
    background-color:  #628B61;
}

#bannerpic {
    display: flex;
    justify-content: center;
}

#demo {
    margin-top: 5%;
    margin-bottom: 5%;
}

.menu-text {
    background-color:  #397249;
    color:  #F3D5BD;
}

#smoke {
    background-image: url(./backgrounds/back-smoke.jpg);
    
}

  
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

footer {
    background-color:   #9CB770;
    color: white;
    padding-left: 3%;
    padding-top: 3%;
}

.footer-copyright {
    background-color: #397249;
}



@font-face {
    font-family: "SugoPro";  
    src: url("./fonts/SugoPro/Zetafonts\ -\ SugoProClassic-LightItalic.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
     }
.btn-primary,
.btn-primary:hover, 
.btn-primary:active,
.btn-primary:visited
{
    border-color: #8064A2 !important;
    background-color: #8064A2 !important;
    top:7px !important; 
    height: 25px;
}










