* {
    box-sizing: border-box;
}

body {
    padding: 0;
    background-color:  #C7E1BA;
    font-family: "ProductSans";
}

.navbar {
    background-color:  #628B61;
    color:  #C7E1BA;
    padding: 0  10px 0 10px;
}

#logo {
  margin: 5px;
}


.navbar-nav {
    list-style-type: none;
}

.navbar-brand {
font-family:"SugoPro";
    font-size: 200%;
    color:  #C7E1BA;
}
 #log-in {
     font-size: 150%;
     color:  #397249;
     margin-left: 15px;
 }


li {
    display: inline;
    margin-left: 8px;
    margin-right: 8px;
}

#banner {
    margin-top: 1%;
    margin-bottom: 2%;
    background-color: #FD795B ;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    color:  #F6E4CC;
    border-top: 5px dashed  #F6E4CC;
    border-bottom: 5px dashed  #F6E4CC;
    
}

.jumbotron {
    background-color:  #9CB770;
    color: black;
}


.bigbannertext {
    font-size: 500%;
    margin-top: 1%;
    color: #7e3c2d;
    font-family:HanSoloRUSbyDaymarius;
}
.lilbannertext
{
font-size: 1em;
}
#bannerpic {
    display: flex;
    justify-content: center;
}

#demo {
    margin-top: 5%;
    margin-bottom: 5%;
}

.menu-text {
    background-color:  #397249;
    color:  #F3D5BD;
}

#smoke {
    background-image: url(./backgrounds/back-smoke.jpg);
    
}

  
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

footer {
    background-color:   #9CB770;
    color: white;
    padding-left: 3%;
    padding-top: 3%;
}

.copyright {
    background-color: #397249;
}

/* Стили для затемнения фона */
.popup-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 186, 0, 0.7);
    z-index: 100;
  }
   
  /* Основные стили для всплывающего окна */
  .popWindow{
    display: none;
    background-color: #161613;
    color: #fff;
    width: 90%;
    max-width: 720px;
    padding: 40px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -360px;
    margin-top: -185px;
    text-align: center;
    box-shadow: 0 0 30px rgba(18, 17, 12, 0.5);
  }
  /* Стили для адаптивности всплывающего окна */
  @media only screen and (max-width : 800px) {
    .popWindow {
      margin-left: -45%;
    }
  }
  /* Кнопка закрыть всплывающее окно */
  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
    line-height: 20px;
    cursor: pointer;
    color: #999;
    padding: 10px;
  }
  /* Просто текст */
  .subscribe_window .subcsribe-text {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 40px;
    position: relative;
    padding: 0 50px;
    z-index: 10;
  }
  /* Текст */
  .subscribe_window .req-fields {
    color: #676767;
    text-align: left;
  }
  /* Стили формы */
  .subscribe-form {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  .subscribe-form div {
    position: relative;
  }
  .subscribe-form input {
    border: 1px solid #3d3d3d;
    width: 100%;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 32px;
    padding: 5px 20px;
    margin-bottom: 20px;
    outline: none;
    background: #2e2e2b;
    color: #fff;
    border-radius: 4px;
  }
  .btn {
    color: #161613;
    background-color: #ffba00;
    padding: 10px 50px;
    text-align: center;
    font-size: 13px;
    border: 1px solid #ffba00;
    box-shadow: none;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .btn:hover, .btn:focus {
    background-color: #ffba00;
    color: #fff;
    text-decoration: none;
  }
  .subscribe-form .btn {
    font-size: 24px;
    line-height: 54px;
    border: none;
    width: 100%;
    padding: 10px;
    font-weight: 700;
    text-align: center;
    outline: none;
    border-radius: 4px;
  }
  .subscribe-form .btn:hover {
    background-color: #e6a700;
  }
  .subscribe-form .btn i {
    font-size: 28px;
    margin-right: 7px;
  }
  .subscribe-form label {
    color: #fff;
    position: absolute;
    top: 12px;
    left: 20px;
    -webkit-transition: 0.28s;
    transition: 0.28s;
  }
  .subscribe-form label span {
    color: #ffba00;
  }
  .subscribe-form input:focus + label {
    left: -62px;
    font-size: 12px;
  }
  .subscribe-form input:invalid {
    box-shadow: none;
  }
  .subscribe-form input:valid {
    border: 1px solid #161613;
  }
  .subscribe-form input:valid + label {
    left: -62px;
    font-size: 12px;
  }
  .subscribe-form input:invalid:not(:focus):not(:placeholder-shown) {
    border: 1px solid #d3362a;
  }
  .subscribe-form input:invalid:not(:focus):not(:placeholder-shown) + label {
    left: -62px;
    font-size: 12px;
  }
  @media only screen and (max-width : 480px) {
    .subscribe_window{
      top: 5%;
      margin-top: 0;
    }
    .subscribe_window .subcsribe-text{
      padding: 0;
    }
    .subscribe-form input:focus + label{
      left: 20px;
      top: -18px;
    }
    .subscribe-form input:valid + label{
      left: 20px;
      top: -18px;
    }
    .subscribe-form input:invalid:not(:focus):not(:placeholder-shown) + label{
      left: 20px;
      top: -18px;
    }
  }
   
  /* Стили для текста внутри благодарственного окна после успешной отправки */
  .thank_you_window .thank_you_title {
    font-family: "Titillium Web", sans-serif;
    color: #fff;
    font-size: 32px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .thank_you_window .thank_you_body {
    font-family: "Titillium Web", sans-serif;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
  }

@font-face {
    font-family: "SugoPro";  
    src: url("./fonts/SugoPro/Zetafonts\ -\ SugoProClassic-LightItalic.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
     }

@font-face
{
font-family: "HanSoloRUSbyDaymarius";
src: url("./fonts/12084.ttf") format("truetype");
font-style: normal; 
font-weight: normal;
}

@font-face
{
font-family: "ProductSans";
src: url("./fonts/11823.ttf") format("truetype");
font-style: normal; 
font-weight: normal;
}












